* {
  margin: 0;
  padding: 0;
  box-sizing: boarder-box;
}

body {
  background-color: grey;
}

.flexbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
  max-width: 768px;

  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
}

.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: green;
  padding: 15px;
}

.flexbox .board .card {
  padding: 15px 25px;
  background-color: white;
}
