.home-container {
  display: flex;
  flex-direction: row;
  margin: 10%;
}

.home-container .intro-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.home-container .intro-text {
  font-family: "Bebas Neue", cursive;

  text-align: left;
  font-size: 5rem;
  margin: 0;
  margin-left: 10%;
  text-shadow: 5px 5px 5px 2px #438656;
}

.home-container .intro-p {
  text-align: left;
  font-size: 1.5rem;
  margin: 0;
  margin-left: 10%;
}

.text-container {
  width: 50%;
}
.drop-zone {
  width: 45%;

  border: 1px black solid;
  text-align: center;
}

.icon-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1%;
}
.about {
  font-size: 2.75rem;
}
.about:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}
.contact:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}
.projects:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}
.map:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}
