.home-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 10%;
  /* height: 100vh; */
}

.home-container .intro-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.home-container .intro-text {
  font-family: "Bebas Neue", cursive;
  text-align: left;
  font-size: 7rem;
  margin: 0;

  /* text-shadow: 3px 3px #438656; */
}

.home-container .intro-p {
  text-align: left;
  font-size: 2rem;
  margin: 0;
}

.text-container {
  width: 52%;
  border-right: 2px #212529 dashed;
}
.drop-zone {
  width: 45%;

  border: 1px black solid;
  text-align: center;
}

.icon-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1%;
}
.about {
  font-size: 3.3rem;
  color: #212529;
  border-radius: 9px;
}
.about:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}
.contact:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}
.projects:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}
.map:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}

.droppableWrapper {
  margin-top: 4%;
}

.droppers {
  background: "#f5f5f5";

  padding: 10;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.second-div-dndC {
  display: flex;
}

.third-div-dndC {
  margin: 22px;
}
