.home-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 10%;
  /* height: 100vh; */
}

.home-container .intro-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.home-container .intro-text {
  font-family: "Bebas Neue", cursive;
  text-align: left;
  font-size: 7rem;
  margin: 0;

  text-shadow: 5px 5px 5px 2px #438656;
}

.home-container .intro-p {
  text-align: left;
  font-size: 2rem;
  margin: 0;
}

.text-container {
  width: 50%;
  border-right: 1px black dotted;
}
.drop-zone {
  width: 45%;

  border: 1px black solid;
  text-align: center;
}

.icon-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1%;
}
.about {
  font-size: 3.3rem;
}
.about:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}
.contact:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}
.projects:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}
.map:hover {
  box-shadow: 5px 5px 5px 2px #808782;
}

.droppableWrapper {
  margin-top: 4%;
}
